{% load main %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if settings.LOCAL and settings.DEBUG and False %}
        {% vite_debug %}
    {% else %}
        {% vite_asset 'front/js/main.tsx' %}
        {% vite_asset 'front/css/main.scss' %}
    {% endif %}

    <title>Title</title>

    <script>
        const GN = {{ base_js_data|dict_merge:js_data|json_dumps|safe }};
    </script>
</head>
<body>
    {% block content %}{% endblock %}

    {% csrf_token %}
    <script>
        (function() {
           const tokenEl = document.querySelector('[name=csrfmiddlewaretoken]');
           GN.csrf_token = tokenEl ? tokenEl.value : '';
        }());
    </script>
</body>
</html>
